// palette http://paletton.com/palette.php?uid=54N0C0kl6lPbPFqgusGpJeTuj7U
// tyrkysová: #05A8A7
// limetková: #A6CC5D
//fuchsiová: #E80360

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.clear{
    clear: both;
}


body{
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    /* -webkit-font-smoothing: antialiased; */
    margin: 0px;
    padding: 0 0 200px 0;
    font-family: Helvetica,arial,sans-serif;    font-weight: normal;    
    font-family: 'Open Sans', sans-serif;
    /* line-height: 1.2em; */    
    text-transform: uppercase;    letter-spacing: 0px;    
    font-weight: 500;    font-style: normal;    
    font-size: 15px;
    box-sizing: border-box;
    overflow-x: hidden;
}

h2{
    text-align: center;
    font-size: 70px;
    font-weight: 100;
    margin-bottom: 20px;
    margin-top: 0px;
    text-shadow: 0px 1px 3px #BBB;
    color: #222;
}

h3{
    text-align: center;
    font-size: 27px;
    font-weight: 300;
    margin-bottom: 27px;
    margin-top: 100px;
}

.bottomBorder{    
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.infoh3{    
    font-size: 47px;
    margin-bottom: 0;
}

h4{

    font-size: 22px;
    font-weight: 100;


    margin-bottom: 6px;


    margin-top: 0;

}

p{
    margin-bottom: 14px;

    word-wrap: break-word;
    font-weight: 200;
    text-transform: none;
}

tr{
    margin-bottom: 5px;
}

.prouzek{
    position: fixed;
    width: 100%;
    height: 2px;
    top: 0;

    background-color: #05A8A7; 
}
.spacer{
    width: 100%; 
    height: 30%; 
    position: relative;
}

.telnum{
    position: absolute;

    bottom: -36px;
    /* left: 79%; */
    right: 20.5%;
    font-size: 37px;
    font-weight: 700;
    text-transform: none;
    color: #05A8A7;
    /* z-index: 5000; */
}

.logoBG{
    position: fixed;
    z-index: 100;
    opacity: 1.1;
    top: -30px;
    left: -30px;
    /* display: none; */
}

.logoMini{
    height: 59px;

    position: relative;
    top: 5px;
    display: none;
}

.menuObal{
    position: relative;

    width: 71%;
    margin: 0 auto;
    //overflow: auto;
    height: 100px;
    margin-bottom: 46px;
    /* word-wrap: break-word; */
    max-width: 1000px;
}



.menuNadpis{
    float: left;

    font-size: 22px;
    /* overflow: visible; */
}

.menuNadpis h1{
    color: #000;
    cursor: pointer;
    transition-property: color;
    transition-duration: 0.3s;

    z-index: 1000;
    /* overflow: visible; */
    position: relative;
}
.menuNadpis h1:hover{    
    color: #05A8A7;
}


.menuPolozky{
    font-size: 15px;

    font-weight: 500;
    right: 0px;
    position: relative;
    float: right;
    top: 0px;
    color: #555;
    padding: 20px 0;
    margin-top: 35px;
    z-index: 100;
}

.menuPolozka{    
    cursor: pointer;  
    color: #000;
    transition-property: all;
    transition-duration: 0.2s;
}

.menuPolozka:hover{  
    color: #888;
}

.menuKategorie{
    position: relative;

    bottom: 0;
    font-size: 13px;
    padding-left: 30px;
    font-weight: 300;
    clear: both;
    float: left;
    cursor: pointer;
    z-index: 1010;
    /* overflow-y: hidden; */
}

.sites{
    top: 25px;

    position: relative;
    left: 355px;
    cursor: pointer;
    width: 300px;
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 2s;
    display: block;
}

.slider{
    position: relative;

    //transform: rotateY(90deg);

    /*transition-property: all;
    transition-duration: 0.2s;*/
}

.myslider{
    position: relative;

    //height: 350px;
    width: 50000px;
    overflow: hidden;
    display: block;
    left: 0px;
    top: 0;

    transition-property: all;
    transition-duration: 0.5s;

    /* vertical-align: top; */    
    /* float: none; */
}

.fotkaObal{
    float: left;

    display: table-cell;
    cursor: pointer;
}

.fotka{
    transition-property: transform;
    transition-duration: 0.3s;
    position:relative;

}

.fotka:hover{
    transform: scale(1.05);

}

.arrowsContainer{
    position: absolute;

    cursor: pointer;
    z-index: 0;
    display: table;
    vertical-align: middle;
    /* height: 100%; */
    /* top: 0; */
    /* width: 100%; */
    /* bottom: 0; */
    z-index: 1000;
    clear: both;
}

.vCenter{
    display: table-cell;

    vertical-align: middle;
    height: 50px;
    /* z-index: 1000; */
}

.arrowLeft{
    display: block;

    /* vertical-align: middle; */
    height: 56px;
    position: absolute;
    /* margin: auto; */
    left: 5px;
    float: left;
    z-index: 1000;

    transition-property: all;
    transition-duration: 0.3s;
    opacity: 1;
}

.arrowLeft:hover{    
    opacity: 0.5;
}

.arrowRight{
    position: absolute;    
    /* vertical-align: middle; */

    right: 5px;
    height: 56px;
    /* float: right; */


    transition-property: all;
    transition-duration: 0.3s;
    opacity: 1;
    z-index: 1000;
}

.arrowRight:hover{    
    opacity: 0.5;
}

.imgArrowLeft{
    height: 100%;

    z-index: 1000;
    position: absolute;
}

.imgArrowRight{
    height: 100%;
    /* position: absolute; */
    /* left: 0; */
    /* z-index: 1000; */
}

.whiteArea{
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 40px;
    left: 0;
    z-index: 1010;
    box-sizing: border-box;
    background-color: rgba(255,255,255, 0.95);
}

.whiteAreaInner{
    display: table;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 40px;
    left: 0;
    
    box-sizing: border-box;
    position: absolute;
}

.bigImg{
    max-width: 200px;
    max-height: 200px;
    height: auto;
    width: auto;
    margin: auto;
    display: block;
    position: absolute;
    /* vertical-align: middle; */
    /* display: none; */
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.loading{
    position: relative;

    display: block;
    /* vertical-align: middle; */
    border-radius: 205px;
    margin: 0 auto;
    height: 100%;
    max-height: 200px;
    max-width: 100%;
}


.trippleObal{
    position: relative;

    margin-top: 20px;
    overflow: auto;
}

.trippieOut{
    width: 33%;

    min-width: 200px;
    position: relative;
    display: block;
    float: left;
    text-align: center;
    box-sizing: border-box;
    margin: 9px 0;
}

.trippieIn{

    margin: 0 auto;    
    position: relative;
    display: inline-block;


    border-width: 1px;
    border-style: solid;


    padding: 21px;


    border-radius: 1px;


    transition-property: all;
    transition-duration: 0.3s;
    cursor: pointer;


    font-size: 19px;

    font-weight: 400;

    min-width: 197px;

}

.trred, .trblue, .trgreen{
    color: #FFF;
}

.trred:hover, .trblue:hover, .trgreen:hover{
    background-color: #FFF;
}


.trred{
    border-color: #A6CC5D; 
    background-color: #A6CC5D;
}

.trred:hover{
    color: #89aa4a; 
}

.trblue{
    border-color: #854C97   ;
    background-color: #854C97; 
}
.trblue:hover{
    color: #854C97; 
}

.trgreen{
    border-color: #05A8A7;
    background-color: #05A8A7;  
}
.trgreen:hover{
    color: #05A8A7;    
}


.info, .kontakt, .cenik{
    width: 800px;
    padding: 20px;
    //max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
    height: auto;



    /*transition-property: all;
    transition-duration: 0.3s;*/
    //transform: rotateY(90deg);
    z-index: 101;
    position: relative;
}



.info{



}

.spolupraceimg{
    width: 100%; 
    max-width: 350px; 
    position: relative;
    /* margin: 0px 19px; */
}

.spolupracespace{
    margin-top: 42px;
    overflow: auto;
}

.prvni{

}


.kontakt{
    overflow: auto;
}

.kontakt h2{
    border-bottom-width: 0px;

    border-bottom-color: #854C97;
    border-bottom-style: solid;
    color: #111;
}


.kontaktImg{
    float: left;

    width: 250px;
    margin-right: 45px;
    border-radius: 2px;
}

.kontaktUdaje{
    margin-top: 21px;
}

.socicon{
    width: 56px;    
    margin-top: 10px;
    cursor: pointer;
    margin-right: 10px;
    /* border-radius: 18px; */
    /* box-shadow: 3px 2px 5px; */
}

.otocka{    
    animation-name: otocka;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes otocka {
    0% { transform: rotateY(0deg); }
    50% { transform: rotateY(180deg); }
    100% {transform: rotateY(360deg);}
}




.cenik{



}