* {
    margin: 0;
    padding: 0;
    border: 0;
}


body{
    margin: 0px;
    padding: 0;
    font-family: Helvetica,arial,sans-serif;    font-weight: normal;    
    font-family: 'Open Sans', sans-serif;
    /* line-height: 1.2em; */    
    text-transform: uppercase;    letter-spacing: 0px;    font-weight: 700;    font-style: normal;    
    font-size: 23px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.spacer{
    width: 100%; 
    height: 30%; 
    position: relative;
}

.logoBG{
    position: fixed;
    z-index: 0;
    opacity: 0.1;
    top: -67px;
    left: -30px;
}

.logoMini{
    height: 55px;

    position: fixed;
    display: none;
}

.menuObal{
    position: relative;

    width: 71%;
    margin: 0 auto;
    overflow: auto;
    height: auto;
    margin-bottom: 10px;
    /* word-wrap: break-word; */
    max-width: 1000px;
}



.menuNadpis{
    float: left;

    font-size: 19px;
}

.menuNadpis h1{
    color: #000;
    cursor: pointer;
    transition-property: color;
    transition-duration: 0.3s;

}
.menuNadpis h1:hover{    
    color: #0080FF;
}


.menuPolozky{
    font-size: 15px;

    font-weight: 500;
    right: 0px;
    position: relative;
    float: right;
    top: 0px;
    color: #555;
    padding: 20px 0;
}

.menuPolozka{    
    cursor: pointer;  
    color: #000;
    transition-property: all;
    transition-duration: 0.2s;
}

.menuPolozka:hover{  
    color: #888;
}

.menuKategorie{
    position: relative;

    bottom: 0;
    font-size: 13px;
    padding-left: 30px;
    font-weight: 300;
    clear: both;
    float: left;
    cursor: pointer;
}

.sites{
    top: 25px;

    position: relative;
    left: 355px;
    cursor: pointer;
    width: 300px;
}

.myslider{
    position: relative;

    //height: 350px;
    width: 50000px;
    overflow: hidden;
    display: block;
    left: 0px;
    top: 0;

    transition-property: all;
    transition-duration: 0.5s;

    /* vertical-align: top; */    
    /* float: none; */
}

.fotkaObal{
    float: left;

    display: table-cell;
}

.fotka{
    transition-property: transform;
    transition-duration: 0.3s;
    position:relative;

}

.fotkaScaleIn{
    transform: scale(1.1);

}

.arrowsContainer{
    position: absolute;

    cursor: pointer;
    z-index: 0;
    display: table;
    vertical-align: middle;
    /* height: 100%; */
    /* top: 0; */
    /* width: 100%; */
    /* bottom: 0; */
    z-index: 1000;
    clear: both;
}

.vCenter{
    display: table-cell;

    vertical-align: middle;
    height: 50px;
    /* z-index: 1000; */
}

.arrowLeft{
    display: block;

    /* vertical-align: middle; */
    height: 56px;
    position: relative;
    /* margin: auto; */
    left: 5px;
    float: left;
    z-index: 1000;

    transition-property: all;
    transition-duration: 0.3s;
    opacity: 1;
}

.arrowLeft:hover{    
    opacity: 0.5;
}

.arrowRight{
    position: relative;    
    /* vertical-align: middle; */

    right: 5px;
    height: 56px;
    float: right;


    transition-property: all;
    transition-duration: 0.3s;
    opacity: 1;
}

.arrowRight:hover{    
    opacity: 0.5;
}

.imgArrowLeft{
    height: 100%;

    /* z-index: 1000; */
}

.imgArrowRight{
    height: 100%;
}

.whiteArea{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 40px;
    left: 0;
    background-color: rgba(255,255,255, 0.3);
}

.bigImg{
    width: 100%;
    height: 100%;
}
